html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.content  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 50px;
  max-width: 90%;
}

.profile {
  border-radius: 100px;
  width: 150px;
  margin-bottom: 50px;
}

p {
  font-family: 'Montserrat', sans-serif;
  max-width: 900px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  text-align: justify;
  color: black;
  margin-bottom: 40px;
}

a {
  color: grey;
}

.social-links {
  display: flex;
  flex-direction: row;
}

.social-links a {
  padding-right: 10px;
  width: 50px;
}

.social-links img {
  width: 50px;
}

@media (max-width: 850px) {
  .profile {
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}
